<!--Creates two columns, a narrow one with the date/time and a wider one with the entry-->
{% macro render_entry(entry) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ entry.datetime | dateformat("%d/%m/%y") }}
                <!--the dateformat filter is in filters.py-->
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
            {{ entry.title }}
        </h1>
        {{ entry.content | markdown }} 
        <!--the markdown filter is in filters.py-->
    </div>
</div>
{% endmacro %}